In [1]:
from google.colab import auth
from google.cloud import bigquery
import pandas as pd

In [2]:
auth.authenticate_user()
project_id = "test-ungraded-challenge" # isi project_id masing2 akun google
client = bigquery.Client(project=project_id)

In [58]:
# put your query here
query_result_one = """
    SELECT
      count(table_id) as total_table
    FROM
      `bigquery-public-data.austin_bikeshare`.__TABLES__
"""
query_result_two = """
  SELECT
    table_name,
    count(if(data_type = 'STRING',column_name,null)) as total_column_with_string
  FROM
    `bigquery-public-data.austin_bikeshare.INFORMATION_SCHEMA.COLUMNS`
  GROUP BY 1
"""

query_result_three = """
  SELECT
    bike_id,end_station_name,duration_minutes
  FROM
    `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  WHERE
    bike_id is not null
  AND
    duration_minutes > 1000
"""

query_result_four = """
  SELECT
    subscriber_type,end_station_name,duration_minutes
  FROM
    `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  WHERE
    subscriber_type = 'Walk Up'
  AND
    end_station_name = 'Stolen'

"""

In [59]:
# Set up the query
query_job_one = client.query(query_result_one).to_dataframe() # masukan data query ke dalam bentuk dataframe
output_one = pd.DataFrame(query_job_one) # assign dataframe dari bigquery ke dalam dataframe dari panda
list_bar_one = output.values.tolist() # ubah hasil isi dataframe dari panda menjadi list of list
print('total table yang ada di dataset bigquery-public-data.austin_bikeshare : ', list_bar_one[0][0])

query_job_two = client.query(query_result_two).to_dataframe() # masukan data query ke dalam bentuk dataframe
output_two = pd.DataFrame(query_job_two) # assign dataframe dari bigquery ke dalam dataframe dari panda
list_bar_two = output_two.values.tolist() # ubah hasil isi dataframe dari panda menjadi list of list
for i in list_bar_two :
  print('table ',i[0],' memiliki ',i[1],' kolom dengan tipe data string')

query_job_three = client.query(query_result_three).to_dataframe() # masukan data query ke dalam bentuk dataframe
print('data dengan bike_id yang not null dan duration_minutes > 1000')
print(query_job_three)

query_job_four = client.query(query_result_four).to_dataframe() # masukan data query ke dalam bentuk dataframe
print('data dengan subscriber_type = "Walk Up" dan end_station_name = "Stolen"')
print(query_job_four)

total table yang ada di dataset bigquery-public-data.austin_bikeshare :  2
table  bikeshare_stations  memiliki  7  kolom dengan tipe data string
table  bikeshare_trips  memiliki  7  kolom dengan tipe data string
data dengan bike_id yang not null dan duration_minutes > 1000
     bike_id end_station_name  duration_minutes
0       1857           Stolen              3806
1       1795           Stolen              2529
2        209           Stolen              1016
3        874           Stolen              6832
4      19127           Stolen              6705
...      ...              ...               ...
3515   19619  28th/Rio Grande              1036
3516   19734         28th/Rio              1165
3517    009G         28th/Rio              1047
3518   18532         28th/Rio              1191
3519   16828  28th/Rio Grande              1122

[3520 rows x 3 columns]
data dengan subscriber_type = "Walk Up" dan end_station_name = "Stolen"
  subscriber_type end_station_name  duration_minutes
0         Walk Up           Stolen              3806
1         Walk Up           Stolen              2529
2         Walk Up           Stolen              4302
3         Walk Up           Stolen              4833
4         Walk Up           Stolen              6118
5         Walk Up           Stolen              5974
6         Walk Up           Stolen              1404
7         Walk Up           Stolen              5189